:root {
    --border-color-light: #dfdfdf;
    --border-color-dark: #888888;
}

* {
    background-color: #303030;
    color: #FFFFFF;
    font-family: 'consolas', monospace;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#root {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 0 1px 1px black;
}

.logo {
    width: 104px;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 800;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-toggle {
    position: fixed;
    right: 40px;
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.mobile-nav-bar {
    display: flex;
    position: fixed;
    top: 0;
    right: -250px;
    height: 100%;
    width: 210px;
    background-color: #303030;
    color: #FFF;
    padding: 60px 20px;
    transition: right 0.3s ease-in;
    flex-direction: column;
    z-index: 1000;
}

.mobile-nav-bar li {
    list-style: none;
}

.mobile-nav-bar a {
    display: block;
    margin-bottom: 20px;
    color: white;
    text-decoration: none;
}

.mobile-nav-bar.open {
    right: 0;
}

span.close-nav-bar-button {
    text-align: right;
    cursor: pointer;
    text-decoration: underline;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 60%;
}

.nav-bar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 55px;
    flex-direction: row;
    padding: 12px 8px;
}

.nav-bar li {
    list-style: none;
    max-width: 150px;
}

.nav-bar a {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;

}

.nav-bar a:hover {
    text-decoration: underline;
}

.main-container {
    padding: 0 48px;
    margin: 50px 0;
}

#hero-section p {
    font-size: 20px;
}

#hero-section h1 {
    font-size: 80px;
    margin: 0;
}

#hero-section .first-name {
    font-size: 50px;
}

.socials {
    display: flex;
    align-items: center;
    gap: 15px;
}

.socials a {
    font-size: 25px;
}

.tech-stack {
    display: grid;
    grid-template-columns: repeat(8, 2fr);
    grid-template-rows: repeat(2, auto);
    width: 100%;
}

.tech-stack a {
    font-size: 39px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 2px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.contact-form *,
.contact-form *::before,
.contact-form *::after {
    box-sizing: border-box;
}

.contact-form .input-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: 100%;
    height: 40px;
}

.contact-form .input-group input {
    width: 100%;
    height: 100%;
    background-color: #2d2d2d;
    border: 2px solid var(--border-color-dark);
    border-radius: 7px;
    color: #dfdfdf;
    padding: 10px;
}

.contact-form input:-webkit-autofill,
.contact-form textarea:-webkit-autofill {
    background-color: #2d2d2d !important;
    -webkit-box-shadow: 0 0 0px 1000px #2d2d2d inset !important;
    -webkit-text-fill-color: #dfdfdf !important;
}

.contact-form #message {
    width: 100%;
    height: 200px;
    resize: none;
    background-color: #2d2d2d;
    border: 2px solid var(--border-color-dark);
    border-radius: 7px;
    padding: 10px;
}

.contact-form button {
    width: 100%;
    height: 45px;
    padding: 0.5rem 1rem;
    border: 2px solid var(--border-color-dark);
    background-color: #000000;
    border-radius: 7px;
    font-size: 1.3rem;
    font-weight: 500;
}

.contact-form button:hover {
    background-color: #101010;
    cursor: pointer;
}

footer {
    display: block;
    text-align: center;
    height: 30px;
    margin-bottom: 10px;
}

/* mobile */

@media (max-width: 600px) {
    .logo {
        width: 100px;
        font-family: 'Inter', sans-serif;
        font-size: 38px;
        font-weight: 800;
        padding: 8px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header {
        display: flex;
        justify-content: space-between;
        height: 70px;
        width: 100%;
    }

    .nav-bar ul {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    #hero-section p {
        font-size: 15px;
    }

    #hero-section .first-name {
        font-size: 40px;
    }

    .tech-stack {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 5px;
    }

    .tech-stack a {
        text-align: center;
        margin: auto;
        font-size: 30px;
    }

    .contact-form .input-group {
        flex-direction: column;
        height: 85px;
    }

    .contact-form button {
        width: 100%;
        height: 45px;
        padding: 0.5rem 1rem;
        border: 2px solid var(--border-color-dark);
        background-color: #000000;
        border-radius: 7px;
        font-size: 1rem;
        font-weight: 500;
    }

    footer {
        display: block;
        text-align: center;
        height: 15px;
        margin-bottom: 10px;
        font-size: 0.7rem;
    }
}

@media (max-width: 768px) {

    .tech-stack a {
        text-align: center;
        margin: auto;
        font-size: 35px;
    }

}